deny from all
<Files ~ "^([a-zA-Z0-9]+)$">
    Order allow,deny
    allow from all
</Files>
<Files ~ "index.php$">
    Order allow,deny
    allow from all
</Files>
<Files ~ ".*html$">
    Order allow,deny
    allow from all
</Files>
<Files ~ "styles\.less$">
    Order allow,deny
    allow from all
</Files>
<Files ~ "javascript\.js$">
    Order allow,deny
    allow from all
</Files>
<Files ~ "\.(png|jpg|jpeg)$">
    Order allow,deny
    allow from all
</Files>
RewriteEngine on
RewriteRule ^([a-zA-Z0-9]+).html$ index.php?ID=$1
RewriteRule ^([a-zA-Z0-9]+)$ index.php?ID=$1